@model IEnumerable<Order.Models.Orders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "Orders", FormMethod.Post))
{
    <p>
        <table class="table table-bordered">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.OrderID)
                </td>
                <td>
                    @Html.TextBox("orderId", ViewBag.orderId as string, htmlAttributes: new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Customers.CompanyName)
                </td>
                <td>
                    @Html.TextBox("customerName", ViewBag.customerName as string, htmlAttributes: new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Employees.FullName)
                </td>
                <td> 
                    @Html.DropDownList("employees", string.Empty)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Shippers.CompanyName)
                </td>
                <td>
                    @Html.DropDownList("companyName", string.Empty)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </td>
                <td>
                    @Html.TextBox("orderDate", string.Empty, new { @class = "form-control", @type = "date" })
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.ShippedDate)
                </td>
                <td>
                    @Html.TextBox("shippedDate", string.Empty, new { @class = "form-control", @type = "date" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.RequiredDate)
                </td>
                <td>
                    @Html.TextBox("requiredDate", string.Empty, new { @class = "form-control", @type = "date" })
                </td>
            </tr>
        </table>
        <input type="submit" value="Search" />
        <input type="reset" value="Reset" onclick="clear()"/>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    function clear() {
        document.getElementById('orderId').value() = '';
        alert('123')
    }

</script>